In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Kyphosis.csv')

In [ ]:
# This will store the row indexes of the dataframe in the form of list
df_index = list(df.index)

In [ ]:
# Simple Random Sampling Without Replacement: SRSWOR
samp_ind = np.random.choice(df_index, size=60, replace=False)
samp_ind

# randomly select 60 rows from the dataset without replacement

array([45, 49, 13, 44, 28, 64, 54, 15, 62, 57, 42, 11, 30, 12, 22, 48, 60,
       61, 59, 76, 33, 67, 17, 38, 18, 47, 68,  0, 24,  1, 37, 65, 79,  6,
       56, 26, 58,  3, 16, 41, 78,  4, 27, 80, 25, 39, 70, 43, 31, 40, 74,
       34, 53, 71, 10, 21, 69, 20, 75, 66])

In [9]:
# Selected random samples are stored into a new df
samp_df1 = df.iloc[samp_ind, :]
samp_df1.head()

   Kyphosis  Age  Number  Start
45  present  139       3     10
49   absent  177       2     14
13   absent    1       4     12
44   absent   97       3     16
28   absent    4       3     16

In [10]:
# Simple Random Sampling With Replacement: SRSWR
samp_ind = np.random.choice(df_index, size=81, replace=True)
samp_ind

# randomly select 60 rows from the dataset with replacement

array([46, 44, 61, 34, 47, 33, 65, 19, 14, 48, 72, 41, 11, 20, 49, 46, 16,
       13, 69, 39, 46, 66, 77,  8,  6, 30, 61, 19, 22,  8, 51, 69, 57, 48,
       31, 76, 57, 77, 24, 52, 20, 15, 80,  5, 17, 16,  2, 52, 70, 70, 62,
        4, 20, 64, 26, 47, 77, 24, 72, 34, 72, 65, 53, 25, 49, 75, 54, 56,
       34, 28, 23, 58, 42, 34, 59,  3, 30, 43, 15, 70, 10])

In [11]:
samp_df2 = df.iloc[samp_ind, :]
samp_df2.head()

   Kyphosis  Age  Number  Start
46   absent  136       4     15
44   absent   97       3     16
61  present  114       7      8
34   absent  140       5     11
47   absent  131       5     13